<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
</head>
<body>
<div th:replace="base :: navbar"></div>
<form th:action="@{${action}}" th:object="${employee}" method="post">
    <input type="hidden" th:field="*{id}">
    First Name: <input type="text" th:field="*{firstName}">
    <span th:if="${#fields.hasErrors('firstName')}" th:errors="*{firstName}"></span><br>
    Last Name: <input type="text" th:field="*{lastName}">
    <span th:if="${#fields.hasErrors('lastName')}" th:errors="*{lastName}"></span><br>
    Email: <input type="text" th:field="*{email}">
    <span th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></span><br>
    Department:
    <select th:field="*{departmentId}">
        <span th:each="department : ${departmentList}">
            <option th:value="${department.id}" th:text="${department.name}"></option>
        </span>
    </select>
    <span th:if="${#fields.hasErrors('departmentId')}" th:errors="*{departmentId}"></span><br>
    <input type="submit" value="Submit">
</form>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>
</body>
</html>